@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "USER LİSTELE";
}
@model IEnumerable<edasit.Data.Models.User>
<div class="row mb-3">
    <div class="col-md-12 d-flex justify-content-between">
        <form asp-action="Index" method="get" class="form-inline d-flex" onsubmit="return validateSearch();">
            <input type="text" id="searchInput" name="searchString" class="form-control mr-2" placeholder="Site adı ara..." value="@(ViewData["CurrentFilter"] ?? "")" />
            <button type="submit" class="btn btn-primary mr-3">Ara</button>
            <a asp-action="Create" asp-controller="User" class="btn btn-success">Create</a>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <td>User No</td>
            <td>Ad Soyad</td>
            <td>Email</td>
            <td>Telefon</td>
            <td>Rol</td>
            <td>Şifre</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserNo</td>
                <td>@(item.AdSoyad ?? "")</td>
                <td>@(item.Email ?? "")</td>
                <td>@(item.Telefon ?? "")</td>
                <td>@(item.Rol ?? "")</td>
                <td>@(item.Sifre ?? "")</td>
                <td>
                    <a asp-action="Edit" asp-controller="User" asp-route-id="@item.UserNo" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-controller="User" asp-route-id="@item.UserNo" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



